@import url('http://fonts.googleapis.com/css?family=poppins:20');
body
{
    margin: 50px;
    padding: 50px;
    font-family: 'poppins', sans-serif;
}
.clients-section {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    padding: 20px;
    margin: 20px 0;
  }
  
  .clients-section h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .clients {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .clients img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #000; /* اختياري لو عايز إطار حول الصورة */
  }
  
